@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.lightGreen{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #CDE0C4;
    width: 100%;
    height: 100vh;
}

.darkGrey{
    background: rgba(70, 70, 70, 1);
    height: 10%;
    margin-bottom: 50px;
}

.headerContainer{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profileImg{
    background-image:url("../images/userName.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 213px;
    height: 50px;
}

#schoolName{
    color: #909291;
}

.navyBlue{
    display: flex;
    align-items: center;
    background: #40798C;
    width: 93%;
    height: 13%;
    margin: 35px auto 0 auto;
    border-radius: 20px;
    border: solid #70A9A2 5px;
}

.navyBlue h2,
#answers > div p {
    color: #CDE0C4;
    margin: 0 0 0 2rem;
}

.quizText {
    font-family: 'Open Sans', sans-serif;
    pointer-events: none;
}

.question-points-section{
    display: flex;
    flex-direction: row;
    width: 93%;
    height: auto;
    margin: 0 auto;
}

#answers{
    display: flex;
    flex-direction: column;
    width:63%;
    margin-left: 0;
    margin-top: 45px;
}

/*.answer*/
#answers > div {
    display: flex;
    align-items: center;
    background-color:#70A9A2;
    width:88%;
    height: 100px;
    border-radius: 280px;
    margin-bottom: 40px;
    transition: .3s;
}

/*.answer p*/
#answers > div p {
    font-size: 1.5rem;
}

/*.answer:hover*/
#answers > div:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px 0 #444;
    transition: .3s;
    cursor: pointer;
}

.correct, .incorrect {
    transform: scale(1.1);
}

.correct {
    background-color: green !important;
}

.incorrect {
    background: red !important;
}

.circle{
    color:#40798C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:38px;
    margin-left: 12px;
    background-color:#CDE0C4;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    pointer-events: none;
}

.ques:nth-child(4){
    margin-bottom: 0;
}

#time{
    margin-right: 30px;
    margin-left: -65px;
    margin-top: 35px;
    background-image:url("../images/timerCircle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 378px;
}

#score{
    /* background-image:url("../images/scoreBoard.png"); */
    /* background-repeat: no-repeat;
    background-size: 100%; */
    background: #222;
    width: 378px;
    height: 475px;
    margin-top: 35px;
}

#score h3,
#score h4,
#score div h3:last-child {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#score h3,
#score h4 {
    width: 100%;
    text-align: center;
    background-color: #70A9A2;
    padding: 10px 0;
    margin: 0;
}

.points {
    text-align: center;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 0;
}

.points span {
    font-size: 2rem;
    color: #70A9A2;
}

#score > div {
    padding: 20px;
}

.scoreboard {
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scoreboard p {
    color: #ccc;
    margin: 0.5rem 0;
}

.scoreboard:last-child p {
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
}

.scoreboard span:first-child {
    text-align: left;
}

.scoreboard span:nth-child(2) {
    text-align: right;
}

#countdown{
    font-size: 146.4px;
    text-align: center;
    margin-top: 75px;
    color: white;
}

#countdown input {
    width: 200px;
    height: 130px;
    background-color: transparent;
    color: white;
    text-align: center;
    border: none;
}

#seconds{
    font-size: 38.46px;
    margin-top:-60px;
    text-align: center;
    color: white;
}

#value{
    font-size: 24px;
    margin-top:100px;
    text-align: center;
    color: black;
}

#addPoints{
    font-size: 52px;
    margin-top:-15px;
    text-align: center;
    color: #70A9A2;
}

.question-btn {
    display: flex;
    align-items: center;
    background-color: #40798C;
    border-radius: 20px;
    border: solid #70A9A2 5px;
    transition: .3s;
    position: absolute;
    bottom: 50px;
    padding: 10px;
    font-size: 1.35rem;
    color: #CDE0C4;

}

.next-question {
    right: 42px;
}

.prev-question {
    right: 260px;
}

.question-btn:hover {
    transition: .3s;
    transform: scale(1.1);
    text-decoration: none;
    color: #CDE0C4;
}

.choice-disabled, 
.next-disabled {
    pointer-events: none;

}

.next-disabled {
    background-color: rgba(64, 121, 140, 0.5);
}

.disabled:hover {
    transform: none;
}