#welcome{
    background-image:url("../images/Welcome_Screen.png");
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}

#welcome .btn.btn-primary{
    background-color:#8d8e8d;
    border: 1px solid #8d8e8d;
    color: #464646;
    position: absolute;
    top:750px;
    right: 900px;
    width: 150px;
    height: 100px;
    border-radius: 13px;
    font-size: 25px;
}

#welcome .btn.btn-info {
    position: absolute;
    top:750px;
    right: 700px;
    border-radius: 13px;
    font-size: 25px;
}

#welcome .btn.btn-primary:hover{
    background-color:#464646;
    border: 2px solid #8d8e8d;
    color: #8d8e8d;
}

#quizBank,
#editQuiz,
#topicSelect,
#start-quiz {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, rgba(39,96,94,1) 43%, rgba(216,229,208,1) 100%);
    /* position: absolute;
    top: 0;
    left: 0; */
}

#quizBank .navBtns {
    max-width: 221px;
    margin: 30px auto;
}

#quizBank .navBtns a{
    margin: 10px;
}

#renderedQuizzes .quiz{
    max-width: 203px;
    margin: 30px auto;
}

header {
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #464646;
    color: white;
}

header h1 {
    margin: 20px;
}

.topic-selection {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.returnHome {
    position: absolute;
    left: 48%;
}

.chooseQuiz {
    display: flex;
    justify-content: center;
}

.chooseQuiz button {
    margin: 20px;
}

.startQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}